@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f4f4f4;
}

@font-face {
  font-family: 'Castellar';
  src: url('/public/font/castelar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/font/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.castellar {
  font-family: 'Castellar', sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.dnaBG {
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.315) 10%, #f4f4f400 50%);
}

.dnaPic {
  width: 60%;
  transform: rotate(-2deg);
  position: absolute;
  top: -200px;
  left: -35px; 
}

.textNavHover:hover {
  transition-duration: 0.3s;
  font-size: 18px;
  color: rgb(25, 119, 25);
  text-decoration: underline;
  
}

.testTubePic{
  opacity: 0.2;
  right: 0;
  position: absolute;
}

.logoHeader {
  padding: 10px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 4px;
}

.cartHover:hover {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition-property: width;
  transition-duration: 0.2s;
}

.loginHover:hover {
  width: 85%;
  border-radius: 5px;
  transition-property: width;
  transition-duration: 0.2s;
}

/* 111 */

/* .testAnimate:hover::after {
  content: 'LOCATION';
} 

.testAnimate {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  vertical-align: top;
}

.testAnimate span {
  
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.testAnimate::before,
.testAnimate::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.testAnimate::after {
  content: 'LOCATION';
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
  color: black;
}



.testAnimate:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.testAnimate:hover::after {
  transform: translate3d(0, 0, 0);
}

.testAnimate:hover span {
  transform: translate3d(-200%, 0, 0);
} */

/* ซ้ายขวา */

/* .locationAnimate {
  opacity: 0;
  border: 2px dotted;
  transform: translateX(100%);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

.tlAnimate:hover .testAnimate {
  display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.tlAnimate:hover .locationAnimate {
  cursor: pointer;
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.mark {
  transition: transform 1s ease-in-out;
}

.tlAnimate:hover .mark {
  transform: translateX(-20px);
} */

/* ขึ้นลง */

/* .locationAnimate {
  display: none;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}

.tlAnimate:hover .testAnimate {
  transition: transform 1s ease-in-out;
  display: none;
}

.tlAnimate:hover .locationAnimate {
  cursor: pointer;
  display: inline-block;
  transform: translateX(0%);
}

.mark {
  transition: transform 0.5s ease-in-out;
}

.tlAnimate:hover .mark {
  transform: translateY(-20px);
} */

.mark {
  /* display: flex;
  perspective: 1000px; */
}

.testAnimate,
.locationAnimate {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  display: inline-flex;
}

.testAnimate {
  transform: translateZ(50px);
}

.locationAnimate {
  /* transform: rotateX(-90deg) translateZ(-50px); */
  transform: translateX(-100%) translateZ(-50px);
  display: none;
}

.mark:hover .testAnimate {
  /* transform: rotateX(89deg); */
  transform: translateX(100%) translateZ(50px);
  display: none;
}

.mark:hover .locationAnimate {
  /* transform: rotateX(0deg); */
  transform: translateX(0%) translateZ(-50px);
  display: inline-flex;
}


/* //////////////////////////// */

.navMenu {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 500;
}

.contentSearch {
  height: 85vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSearchBar {
  width: 100%;
  /* border-radius: 20px; */
  /* font-size: 2rem; */
  /* padding-left: 8rem; */
  position: relative;
}

.magnifyIcon{
  position: absolute;
  left: 0;
  z-index: 1;
  color: gray;
}

/* .labColor {
  background: linear-gradient(170deg, rgba(0, 128, 0, 0.826) 10%, black );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */

@media screen and (min-width: 320px) {
  .mobileRes {
    padding: 0px 10px;
  }
  .hText1{
    font-size: 7.5px;
  }
  .contentSearch {
    height: 80vh;
  }
  .ltSize   {
    font-size: 3rem;
    margin: -8px 0px;
  }
  .headerSearchBar {
    height: 3rem;
    border-radius: 10px;
    font-size: 12px;
    padding: 0 10px 0 2.5rem;
  }
  .magnifyIcon {
    font-size: 12px;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .contentSearch   {
    height: 86vh;
  }
  .hText1{
    font-size: 0.8rem;
  }
  .ltSize   {
    font-size: 5rem;
    margin: -20px 0px;
  }
  .headerSearchBar {
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0 1rem 0 4rem;
  }
  .magnifyIcon {
    font-size: 1rem;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .contentSearch   {
    height: 80vh;
  }
  .hText1{
    font-size: 1rem;
  }
  .ltSize   {
    font-size: 6rem;
    margin: -20px 0px;
  }
  .headerSearchBar {
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0 1rem 0 4rem;
  }
  .magnifyIcon {
    font-size: 1rem;
    padding-left: 1.5rem;
  }
}

@media (min-width:1280px) {
  .w-content{
    max-width: 1280px;
  }
}

@media screen and (min-width: 2560px) {
  .contentSearch   {
    height: 85vh;
  }
  .hText1{
    font-size: 2rem;
  }
  .ltSize   {
    font-size: 12rem;
    margin: -40px 0px;
  }
  .headerSearchBar {
    height: 6rem;
    /* width: 70rem; */
    border-radius: 20px;
    font-size: 2rem;
    padding: 0 2rem 0 8rem;
  }
  .magnifyIcon {
    font-size: 2rem;
    padding-left: 3rem;
  }
}